@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <p>親愛的用戶您好，請填寫以下欄位資料，以成為本站會員。</p>
            <p class="color-danger">提醒您:帳號欄位務必請使用您個人的身分證號碼，且相關欄位請填寫真實資料，未來當您申請成為本公司電子交易戶時，</p>
            <p class="color-danger">您的相關優惠與資訊才能一併轉入喔<a>(<u>加入電子交易戶的好處</u>)</a></p>
        </div>
        <div class="col-md-12 form-group">
            <p><span class="color-danger">＊</span>姓名：</p>
            <p><span class="color-danger">＊</span>身分證字號（帳號）：</p>
            <p><span class="color-danger">＊</span>E-mail：</p>
            <p><span class="color-danger">＊密碼：</span></p>
            <p><span class="color-danger">＊請再次輸入密碼：</span></p>
            <p><span class="color-danger">＊</span>生日：</p>
            <p><span class="color-danger">＊</span>聯絡電話 (公)：<span class="color-danger">聯絡電話(公)/(宅)/行動電話 三選一必填</span></p>
            <p><span class="color-danger">＊</span>聯絡電話 (宅)：<span class="color-danger">聯絡電話(公)/(宅)/行動電話 三選一必填</span></p>
            <p><span class="color-danger">＊</span>行動電話：<span class="color-danger">聯絡電話(公)/(宅)/行動電話 三選一必填</span></p>
        </div>
        <div class="form-submit col-md-12 form-group text-center">
            <input type="submit" id="submit" class="btn btn-large main-bg" value="確定">
            <input type="submit" id="submit" class="btn btn-large main-bg" value="重新寄送">
        </div>
        <div class="col-md-12 form-group">
            <p class="color-danger">註1:按下確定後，本公司將發送郵件至您的Email。若您10分鐘後仍未收到email，請點選重新寄送</p>
            <p class="color-danger">註2:如有任何問題，請於週一~週五 9:00-17:00 來電 02-26526699</p>
        </div>
    </div>
</div>
