@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <p>投資需要時時注意市場動態與價格，但繁忙的您哪來這麼多時間!因此，本公司推出到價通知</p>
            <p>貼心服務，將於每支基金到達您所設定的淨值價格時，以您留存的email通知您。本公司是以</p>
            <p>「天」為單位寄送喔。觀察基金以 10 支為上限</p>
        </div>
        <div class="col-md-12 form-group">
            <p>❤您目前留存的 email：linda.tang@ctbcinvestment.com <a><span style="text-decoration:underline">(變更email)</span></a></p>
        </div>
        <div class="col-md-12 form-group">
            <p>
                您所觀察的基金
                <input type="submit" id="submit" class="btn btn-large main-bg" value="新增">
                <input type="submit" id="submit" class="btn btn-large main-bg" value="刪除">
            </p>
        </div>
        <div class="col-md-12 form-group">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="col-md-6">基金淨值</td>
                        <td class="col-md-3">目前淨值</td>
                        <td class="col-md-3">通知淨值</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>22</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>22</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>22</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>22</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>22</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>22</td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 form-group">
            <p>❤日期：YYYY/MM/DD</p>
        </div>
    </div>
</div>
