@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <p>依據您的查詢條件，系統為您找出同類型的人如何理財。分析結果如下</p>
        </div>
        <div class="col-md-12 form-group">
            <p>❤半年來，申購筆數最多的基金Top3</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="col-md-4">Top1</td>
                        <td class="col-md-4">Top2</td>
                        <td class="col-md-4">Top3</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>台灣優勢基金</td>
                        <td>全球股票入息基金</td>
                        <td>台灣活力基金</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 form-group">
            <p>❤半年來，申購金額最多的基金Top3</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="col-md-4">Top1</td>
                        <td class="col-md-4">Top2</td>
                        <td class="col-md-4">Top3</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>台灣優勢基金</td>
                        <td>全球股票入息基金</td>
                        <td>台灣活力基金</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 form-group">
            <p>❤半年來，每人平均單筆申購基金之金額為新台幣10,000元</p>
        </div>
        <div class="col-md-12 form-group">
            <p>❤查詢日期：YYYY/MM/DD</p>
        </div>
    </div>
</div>
