@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <p>親愛的會員 您好：</p>
            <p>活力點數是感謝您對本公司網站之愛用，您所累積之點數，於點數發放當年之次一年度自動失效</p>
            <p>(例：2016/12/15 取得之點數，將於2017/12/31 自動失效 )，<span class="color-danger">活力點數除可用來折抵「線上」申購本公</span></p>
            <p><span class="color-danger">司發行或代理之基金申購手續費</span>，還有更多好康喔</p>
        </div>
        <div class="col-md-12 form-group">
            <h3 class="text-warning col-md-6">活力點數積/扣點規則</h3>
            <h3><span class="color-danger col-md-6">注意事項:本公司保有活力點數規則最後解釋權</span></h3>
        </div>
        <div class="col-md-12 form-group">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-blue">
                        <td class="col-md-2">積點類型</td>
                        <td class="col-md-4">內容</td>
                        <td class="col-md-2">給予點數</td>
                        <td class="col-md-4">備註</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>成為會員</td>
                        <td>凡申請並審核通過成為本公司電子交易戶</td>
                        <td>20</td>
                        <td>XXXXXX</td>
                    </tr>
                    <tr class="bg-green">
                        <td>黏著度</td>
                        <td>連續三天登入本公司網站之會員系統</td>
                        <td>20</td>
                        <td>XXXXXX</td>
                    </tr>
                    <tr>
                        <td>活動達人</td>
                        <td>參加本公司舉辦之活動</td>
                        <td>20</td>
                        <td>每個活動重複參與也僅發放一次</td>
                    </tr>
                    <tr class="bg-green">
                        <td>好學達人</td>
                        <td>一天閱讀本公司文章達5篇(含)以上</td>
                        <td>20</td>
                        <td>一個月內重複閱讀的文章不予計算</td>
                    </tr>
                    <tr>
                        <td>理財初學者</td>
                        <td>使用和我一樣的人怎麼理財功能</td>
                        <td>20</td>
                        <td>一個月內重複使用也僅發放一次</td>
                    </tr>
                    <tr class="bg-blue">
                        <td class="col-md-2">扣點類型</td>
                        <td class="col-md-4">內容</td>
                        <td class="col-md-2">扣除點數</td>
                        <td class="col-md-4">備註</td>
                    </tr>
                    <tr>
                        <td>成為會員</td>
                        <td>凡申請並審核通過成為本公司電子交易戶</td>
                        <td>20</td>
                        <td>XXXXXX</td>
                    </tr>
                    <tr class="bg-green">
                        <td>黏著度</td>
                        <td>連續三天登入本公司網站之會員系統</td>
                        <td>20</td>
                        <td>XXXXXX</td>
                    </tr>
                    <tr>
                        <td>活動達人</td>
                        <td>參加本公司舉辦之活動</td>
                        <td>20</td>
                        <td>每個活動重複參與也僅發放一次</td>
                    </tr>
                    <tr class="bg-green">
                        <td>好學達人</td>
                        <td>一天閱讀本公司文章達5篇(含)以上</td>
                        <td>20</td>
                        <td>一個月內重複閱讀的文章不予計算</td>
                    </tr>
                    <tr>
                        <td>理財初學者</td>
                        <td>使用和我一樣的人怎麼理財功能</td>
                        <td>20</td>
                        <td>一個月內重複使用也僅發放一次</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
