@model Jepun.Web.PS.Models.BasePageModel
@{

}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <p>目前您的紅利點數累積為8,000點，累積明細如下</p>
        </div>
        <div class="col-md-12 form-group">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-blue">
                        <td class="col-md-2">日期</td>
                        <td class="col-md-4">內容</td>
                        <td class="col-md-4">申購基金</td>
                        <td class="col-md-2">扣/積點點數</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>+1600</td>
                    </tr>
                    <tr class="bg-green">
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000，手續費為IPO期間手續費70%</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>-1900</td>
                    </tr>
                    <tr>
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>+1600</td>
                    </tr>
                    <tr class="bg-green">
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000，手續費為IPO期間手續費70%</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>-1900</td>
                    </tr>
                    <tr>
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>+1600</td>
                    </tr>
                    <tr class="bg-green">
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000，手續費為IPO期間手續費70%</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>-1900</td>
                    </tr>
                    <tr>
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>+1600</td>
                    </tr>
                    <tr class="bg-green">
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000，手續費為IPO期間手續費70%</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>-1900</td>
                    </tr>
                    <tr>
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>+1600</td>
                    </tr>
                    <tr class="bg-green">
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000，手續費為IPO期間手續費70%</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>-1900</td>
                    </tr>
                    <tr>
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>+1600</td>
                    </tr>
                    <tr class="bg-green">
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000，手續費為IPO期間手續費70%</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>-1900</td>
                    </tr>
                    <tr>
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>+1600</td>
                    </tr>
                    <tr class="bg-green">
                        <td>YYYY/MM/DD</td>
                        <td>IPO期間單筆申購100,000，手續費為IPO期間手續費70%</td>
                        <td>中國信託樂齡收益平衡基金</td>
                        <td>-1900</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

