@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1 class="col-md-10">@Model.H1</h1>
            <h2 class="col-md-2">更多資訊</h2>
        </div>
        <div class="col-md-12 form-group">
            <p class="col-md-12">產品特色</p>
            <p class="col-md-12">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
            <p class="col-md-12">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
            <p class="col-md-12">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
            <p class="col-md-12">基金小檔案</p>
            <div class="col-md-12">
                <table class="table table-bordered ">
                    <tbody>
                        <tr>
                            <th class="col-md-2" colspan="1">基金類型</th>
                            <td class="col-md-3" colspan="1">指數股票型 </td>
                            <th class="col-md-3" colspan="1">經理費</th>
                            <td class="col-md-4" colspan="1">1%</td>
                        </tr>
                        <tr>
                            <th class="col-md-2" colspan="1">經理人</th>
                            <td class="col-md-3" colspan="1">OOO <a>>> 更多資訊</a></td>
                            <th class="col-md-3" colspan="1">保管費</th>
                            <td class="col-md-4" colspan="1">1%</td>
                        </tr>
                        <tr>
                            <th class="col-md-2" colspan="1">計價幣別</th>
                            <td class="col-md-3" colspan="1">新台幣</td>
                            <th class="col-md-3" colspan="1">掛牌日期</th>
                            <td class="col-md-4" colspan="1">YYYY/MM/DD</td>
                        </tr>
                        <tr>
                            <th class="col-md-2" colspan="1">風險等級</th>
                            <td class="col-md-3" colspan="1">RR4</td>
                            <th class="col-md-3" colspan="1">保管機構</th>
                            <td class="col-md-4" colspan="1">中國信託商業銀行</td>
                        </tr>
                        <tr>
                            <th class="col-md-2" colspan="1">收益分配</th>
                            <td class="col-md-3" colspan="1">本基金收益全數併入基金資產，不予分配</td>
                            <th class="col-md-3" colspan="1">單筆申購最低金額</th>
                            <td class="col-md-4" colspan="1">20,000</td>
                        </tr>
                        <tr>
                            <th class="col-md-2" colspan="1">投資標的</th>
                            <td class="col-md-3" colspan="3">AAAAAAAAAAAAAAAAAAAAAAAAAAAAA</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="col-md-12">指數資訊</p>
            <p class="col-md-12">指數名稱 AAAAAAAA</p>
            <p class="col-md-12">指數編制公司 AAAAAAAA</p>
            <p class="col-md-12">指數基期 YYYY/MM/DD</p>
            <p class="col-md-12">指數基點 1000</p>

            <p class="col-md-12">文件下載</p>
            <div class="col-md-12">
                <a class="col-md-2"><u>投資月報</u></a>
                <a class="col-md-2"><u>公開說明書</u></a>
                <a class="col-md-8"><u>簡式公開說明書</u></a>
            </div>
                <p class="col-md-12">參與券商∣流動量提供者</p>          
            <div class="col-md-12">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th class="col-md-6">參與券商</th>
                            <th class="col-md-6">流動量提供者</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="col-md-6" colspan="1">花旗</th>
                            <th class="col-md-6" colspan="1">花旗</th>
                        </tr>
                        <tr>
                            <th class="col-md-6" colspan="1">花旗</th>
                            <th class="col-md-6" colspan="1">花旗</th>
                        </tr>
                        <tr>
                            <th class="col-md-6" colspan="1">花旗</th>
                            <th class="col-md-6" colspan="1">花旗</th>
                        </tr>
                        <tr>
                            <th class="col-md-6" colspan="1">花旗</th>
                            <th class="col-md-6" colspan="1">花旗</th>
                        </tr>
                        <tr>
                            <th class="col-md-6" colspan="1">花旗</th>
                            <th class="col-md-6" colspan="1">花旗</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="col-md-12">產品警語</p>
            <p class="col-md-12">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
            <p class="col-md-12">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
            <p class="col-md-12">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
        </div>
    </div>
</div>