@model Jepun.Web.PS.Models.BasePageModel
@{

}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <label>全球總體經濟與投資建議</label>
            <p>近期重點事件</p>
            <p>1.美國 2017.03 如同市場預期升息一碼，且多數官員對於升息的議題轉向鷹派，認為目前經濟足以支撐升息，沒有推遲升息的必要性。持續觀察未來升級的次數與速度</p>
            <p>2.中國兩會召開，定調進入十三五計劃落實階段</p>
            <p>3. 未來一季重大事件</p>
            <p>&nbsp;(1) 法國總統選舉</p>
            <p>&nbsp;(2) 荷蘭選舉</p>
            <p>&nbsp;(3) 川普稅改政策推進狀況</p>
        </div>
    </div>
</div>