@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1 class="col-md-10">@Model.H1</h1>
            <h2 class="col-md-2"><a>產品資訊</a></h2>
        </div>       
        <div class="form-group col-md-12">
            <p class="col-md-12">淨值走勢圖</p>
            <p class="col-md-12">
                要畫圖！！！
            </p>
                <div class="col-md-12">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th class="col-md-1">成立以來</th>
                                <th class="col-md-1">5年</th>
                                <th class="col-md-1">3年</th>
                                <th class="col-md-1">2年</th>
                                <th class="col-md-1">1年</th>
                                <th class="col-md-1">6個月</th>
                                <th class="col-md-1">3個月</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
<p class="col-md-12">資料來源 : 投信顧公會 ; 資料日期 : YYYY/MM/DD</p>
            <p class="col-md-12">產品警語</p>
            <p class="col-md-12">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
            <p class="col-md-12">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
            <p class="col-md-12">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
        </div>
    </div>
</div>