@model Jepun.Web.PS.Models.BasePageModel
@{

}
<div class="container">
    <div class="row">
        <section class="content">
            <div class="container">
                <div class="cus-breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li><a href="~/Home/Index">首頁</a></li>
                        <li><a href="~/Product/Fundration">配息資訊</a></li>
                        <li class="active">配息時間表</li>
                    </ol>
                </div>
                <div class="page-header-wrapper">
                    <h3 class="title"><span>配息時間表</span></h3>
                    <hr>
                    <ul class="nav nav-tabs" role="tablist" id="cus-tabs">
                        <li class="active" role="presentation"><a aria-controls="type1" data-toggle="tab" href="#type1" role="tab">中國信託投信</a></li>
                        <li class="" role="presentation"><a aria-controls="type2" data-toggle="tab" href="#type2" role="tab">法盛投資管理</a></li>
                        <li class="" role="presentation"><a aria-controls="type3" data-toggle="tab" href="#type3" role="tab">英傑華投資</a></li>
                    </ul>
                </div>
                <div class="etf-pedia-wrapper editor-area FundSecCalendar">
                    <div role="tabpanel">
                        <div role="tabpanel">
                            <div class="tab-content">

                                <div class="tab-pane fade in active" id="type1" role="tabpanel">
                                    <div class="etf-pedia-child">

                                        <div class="row clearfix">
                                            <div class="container">
                                                <div class="table">
                                                    <table class="table table-striped pages-table">
                                                        <thead>
                                                            <tr>
                                                                <th>月份</th>
                                                                <th>評價日</th>
                                                                <th>基準日</th>
                                                                <th>除息日</th>
                                                                <th>發放日</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>2017/12</td>
                                                                <td>12/29</td>
                                                                <td>2018/1/12</td>
                                                                <td>2018/1/15、1/16(註 2)</td>
                                                                <td>2018/1/18、1/19(註 2)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/01</td>
                                                                <td>1/31</td>
                                                                <td>2/13、2/21(註 3)</td>
                                                                <td>2/14、2/22(註 3)</td>
                                                                <td>2/23、2/27(註 3)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/02</td>
                                                                <td>2/27</td>
                                                                <td>3/13</td>
                                                                <td>3/14</td>
                                                                <td>3/19</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/03</td>
                                                                <td>3/29(註 4)、3/31</td>
                                                                <td>4/17、4/18(註 5)</td>
                                                                <td>4/18、4/19(註 5)</td>
                                                                <td>4/23、4/24(註 5)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/04</td>
                                                                <td>4/30</td>
                                                                <td>5/14</td>
                                                                <td>5/15</td>
                                                                <td>5/18</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/05</td>
                                                                <td>5/31</td>
                                                                <td>6/13</td>
                                                                <td>6/14</td>
                                                                <td>6/20</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/06</td>
                                                                <td>6/29</td>
                                                                <td>7/12、7/13(註 6)</td>
                                                                <td>7/13、7/16(註 6)</td>
                                                                <td>7/18、7/19(註 6)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/07</td>
                                                                <td>7/31</td>
                                                                <td>8/13</td>
                                                                <td>8/14</td>
                                                                <td>8/17</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/08</td>
                                                                <td>8/31</td>
                                                                <td>9/13、9/14(註 6)</td>
                                                                <td>9/14、9/17(註 6)</td>
                                                                <td>9/19、9/20(註 6)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/09</td>
                                                                <td>9/28</td>
                                                                <td>10/12、10/15(註 7)</td>
                                                                <td>10/15、10/16(註 7)</td>
                                                                <td>10/18、10/22(註 7)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/10</td>
                                                                <td>10/31</td>
                                                                <td>11/13</td>
                                                                <td>11/14</td>
                                                                <td>11/19</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/11</td>
                                                                <td>11/30</td>
                                                                <td>12/13</td>
                                                                <td>12/14</td>
                                                                <td>12/19</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2018/12</td>
                                                                <td>12/28</td>
                                                                <td>2019/1/14</td>
                                                                <td>2019/1/15</td>
                                                                <td>2019/1/18</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <H3 style="color:#ff0000;">備註:</H3>
                                                <ol>
                                                    <li>依基金公開說明書所載，基金成立日起屆滿三個月後，於每月結束後之第二十個營業日前(含)按月進行分配收益。評價日為每月最後一個營業日，基準日為評價日次月第九個營業日、除息日為第十個營業日、發放日為第十三個營業日。</li>
                                                    <li>1/15 為多元入息平衡基金、全球股票入息基金、全球不動產收益基金、樂齡收益平衡基金、全球短期高收益債券基金之非營業日，故其相關配息日程遞延為標色日期。</li>
                                                    <li>2/13、2/14 為全球不動產收益基金、樂齡收益平衡基金、雄鷹新興市場債券基金之非營業日，故其相關配息日程遞延為標色日期。</li>
                                                    <li>3/30、3/31 為多元入息平衡基金、全球股票入息基金、亞太多元入息平衡基金、全球不動產收益基金、樂齡收益平衡基金、全球短期高收益債券基金之非營業日，故其評價日為 3/29。</li>
                                                    <li>4/2 為亞太多元入息平衡基金、全球短期高收益債券基金之非營業日，故其相關配息日程遞延為標色日期。</li>
                                                    <li>7/2 為亞太多元入息平衡基金之非營業日，7/4、9/3 為多元入息平衡基金、全球股票入息基金、全球不動產收益基金、樂齡收益平衡基金、全球短期高收益債券基金之非營業日，故其相關配息日程遞延為標色日期。</li>
                                                    <li>10/1、10/17 為亞太多元入息平衡基金之非營業日，故其相關配息日程遞延為標色日期。 </li>
                                                </ol>
                                               
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="type2" role="tabpanel">
                                    <div class="eft-pedia-child">
                                        <div class="row clearfix">
                                            <div class="container">
                                                <div class="table">
                                                    <table class="table table-striped pages-table">
                                                        <thead>
                                                            <tr>
                                                                <th>月份</th>
                                                                <th>基準日</th>
                                                                <th>除息日</th>
                                                                <th>發放日</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="type3" role="tabpanel">
                                    <div class="etf-pedia-child" id="flag3">
                                        <div class="row clearfix">
                                            <div class="container">
                                                <div class="table">
                                                    <table class="table table-striped pages-table">
                                                        <thead>
                                                            <tr>
                                                                <th>月份</th>
                                                                <th>基準日</th>
                                                                <th>除息日</th>
                                                                <th>發放日</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>2017/01</td>
                                                                <td>2017/01/31</td>
                                                                <td>2017/02/01</td>
                                                                <td>2017/02/08</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/02</td>
                                                                <td>2017/02/28</td>
                                                                <td>2017/03/01</td>
                                                                <td>2017/03/08</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/03</td>
                                                                <td>2017/03/31</td>
                                                                <td>2017/04/03</td>
                                                                <td>2017/04/10</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/04</td>
                                                                <td>2014/04/28</td>
                                                                <td>2017/05/02</td>
                                                                <td>2017/05/09</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/05</td>
                                                                <td>2017/05/31</td>
                                                                <td>2017/06/01</td>
                                                                <td>2017/06/09</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/06</td>
                                                                <td>2017/06/30</td>
                                                                <td>2017/07/03</td>
                                                                <td>2017/07/10</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/07</td>
                                                                <td>2017/07/31</td>
                                                                <td>2017/08/01</td>
                                                                <td>2017/08/08</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/08</td>
                                                                <td>2017/08/31</td>
                                                                <td>2017/09/01</td>
                                                                <td>2017/09/08</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/09</td>
                                                                <td>2017/09/29</td>
                                                                <td>2017/10/02</td>
                                                                <td>2017/10/09</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/10</td>
                                                                <td>2017/10/31</td>
                                                                <td>2017/11/02</td>
                                                                <td>2017/11/09</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/11</td>
                                                                <td>2017/11/30</td>
                                                                <td>2017/12/01</td>
                                                                <td>2017/12/08</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017/12</td>
                                                                <td>2017/12/29</td>
                                                                <td>2018/01/02</td>
                                                                <td>2018/01/09</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h3 style="color:#ff0000;">備註:</h3>
                                                <ol>
                                                    <li>基準日為每月最後一個工作日</li>
                                                    <li>除息日為次月第一個工作日</li>
                                                    <li>發放日為除息日後第五個工作日(入帳時間以實際作業為準)</li>
                                                </ol>
                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>