@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <p>因本區僅開放給持有本公司私募發行產品之客戶使用，請您先點選「<a><u>線上交易專區</u></a> 」登入 ，若您持</p>
            <p>有本公司任一私募產品清單 ，請您於登入後再次返回本頁面</p>
        </div> 
        <div class="col-md-12 form-group">
            <p>注意事項</p>
            <p>１.若您持有本公司私募產品，但不是本公司電子交易戶 ( 即無法透過線上交易平台進行基金申贖)，請您先點選「 <a><u>註冊</u></a> 」， 待您成為本公司電子交易戶後，即可線上查詢您所持有的私募基金產品。</p>
            <p>２.若您未持有任一由本公司私募之產品，線上交易登入成功後，仍然無法使用私募專區之服務。</p>
        </div> 
    </div>
</div>