Microservices/IdentityServer4.Samples-release/Quickstarts/Combined_AspNetIdentity_and_EntityFrameworkStorage/src/IdentityServerWithAspIdAndEF/Data/Migrations/IdentityServer/PersistedGrantDb/20180109200712_InitialIdentityServerPersistedGrantDbMigration.cs
Microservices/IdentityServer4.Samples-release/Quickstarts/Combined_AspNetIdentity_and_EntityFrameworkStorage/src/IdentityServerWithAspIdAndEF/Data/Migrations/IdentityServer/PersistedGrantDb/20180109200712_InitialIdentityServerPersistedGrantDbMigration.Designer.cs
Microservices/IdentityServer4.Samples-release/Quickstarts/Combined_AspNetIdentity_and_EntityFrameworkStorage/src/IdentityServerWithAspIdAndEF/Data/Migrations/IdentityServer/ConfigurationDb/20180109200721_InitialIdentityServerConfigurationDbMigration.cs
Microservices/IdentityServer4.Samples-release/Quickstarts/Combined_AspNetIdentity_and_EntityFrameworkStorage/src/IdentityServerWithAspIdAndEF/Data/Migrations/IdentityServer/ConfigurationDb/20180109200721_InitialIdentityServerConfigurationDbMigration.Designer.cs
