@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <p>請輸入您的帳號</p>
            <input class="form-control">
        </div>
        <div class="col-md-12 form-group">
            <p>請輸入您的新密碼</p>
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="col-md-12 form-group">
            <p>請再次輸入您的新密碼</p>
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="col-md-12 form-group">
            <p>請輸入以下驗證碼</p>
            <input class="form-control">
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">               
                <button type="button" class="btn btn-link btn-sm" name="BtnRefresh">( <u>重新取得驗證碼</u> )</button>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <button type="button">確定</button>
            <a>( 按下確定，您的密碼即更改完成 )</a>
        </div>
    </div>
</div>
