@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12">
            <p>親愛的用戶您好，您僅能變更電子信箱與通訊電話二項個人資料，編輯完成請按確定</p>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered ">
                <thead>
                    <tr class="bg-blue">
                        <td class="col-md-4" colspan="2">基本資料</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">姓名</td>
                        <td colspan="1">中信投信</td>
                    </tr>
                    <tr>
                        <td colspan="1">身分證字號</td>
                        <td colspan="1">A253114383</td>
                    </tr>
                    <tr>
                        <td colspan="1"><p><span class="color-danger">＊</span>電子信箱</p></td>
                        <td colspan="1">cs@ctbcinvestments.com</td>
                    </tr>
                    <tr>
                        <td colspan="1">出生年月日</td>
                        <td colspan="1">1987年2月15日</td>
                    </tr>
                    <tr>
                        <td colspan="1"><p>＊聯絡電話 (公)：<span class="color-danger">聯絡電話(公)/(宅)/行動電話 三選一必填</span></p></td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <td colspan="1"><p>＊聯絡電話 (宅)：<span class="color-danger">聯絡電話(公)/(宅)/行動電話 三選一必填</span></p></td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <td colspan="1"><p>＊行動電話：<span class="color-danger">聯絡電話(公)/(宅)/行動電話 三選一必填</span></p></td>
                        <td colspan="1">0987654321</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary">無須變更</button>
            <button type="button" class="btn btn-primary">確定</button>
            <a>( 按下確定，您的個人資料即更改完成 )</a>
        </div>
    </div>
</div>
