@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container">
    <div class="row">
        <section class="content">
            <div class="container">
                <div class="cus-breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li><a href="~/Home/Index">首頁</a></li>
                        <li class="active">公司簡介</li>
                    </ol>
                </div>
                <div class="page-header-wrapper">
                    <h3 class="title"><span>公司簡介</span></h3>
                    <hr>
                    <div class="col-xs-12 col-sm-12">
                        <h3 class="pages-title">經營使命</h3>
                        <p>
                            2012年11月中國信託金融控股公司於2012年11月正式跨足資產管理產業，並於2013年將併購的投信公司更名為「中國信託證券投資信託股份有限公司（簡稱：中信投信）」。
                        </p>
                        <p>
                            中信投信自成立以來致力於提供最好的產品和服務，從產品到服務，提供最專業的建議，把客戶當成朋友，真心守護客戶資產，我們相信「努力不懈，追求卓越，成功致富自然伴隨而來」。
                        </p>
                        <p>
                            面對詭譎多變的市場，中國信託投信將以全球投資視野，台灣研究經驗，同步與世界金融市場接軌，提供即時資訊。同時用心傾聽，透過緊密交流與貼心服務，了解客戶需求，擬定投資組合策略，協助達成理財目標。
                        </p>

                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <h3 class="pages-title">公司資訊</h3>
                        <div class="table">
                            <table class="table table-striped pages-table">

                                <tbody>
                                    <tr>
                                        <th>登記名稱</th>
                                        <td colspan="3">中國信託證券投資信託股份有限公司</td>
                                    </tr>
                                    <tr>
                                        <th>成立日期</th>
                                        <td>1998年3月</td>
                                        <th>統一編號</th>
                                        <td>16439219</td>
                                    </tr>
                                    <tr>
                                        <th>董事長</th>
                                        <td>陳國世</td>
                                        <th>總經理</th>
                                        <td>諶家敏</td>
                                    </tr>
                                    <tr>
                                        <th>經營型態</th>
                                        <td>股份有限公司</td>
                                        <th>聯絡人</th>
                                        <td>諶家敏</td>
                                    </tr>
                                    <tr>
                                        <th>核准證照</th>
                                        <td colspan="3">106金管投信新字第004號</td>

                                    </tr>
                                    <tr>
                                        <th>加入之自律組織</th>
                                        <td colspan="3">中華民國證券投資信託暨顧問商業同業公會；公會會員編號(87)中信顧證字第026號</td>
                                    </tr>
                                    <tr>
                                        <th>服務項目</th>
                                        <td colspan="3">
                                            1.證券投資信託業務：發行與募集新基金、運用基金資產進行投資<br />
                                            2.全權委託投資業務：接受高資產客戶全權委託投資<br />
                                            3.證券投資顧問業務<br />
                                            4.其他經主管機關核准業務
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <h3 class="pages-title">服務據點</h3>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.2696123079986!2d121.61307101540517!3d25.05884944344789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aca7b3424eb7%3A0x5ecd63f48f8ed396!2zMTE15Y-w5YyX5biC5Y2X5riv5Y2A57aT6LK_5LqM6LevMTg46Jmf!5e0!3m2!1szh-TW!2stw!4v1517798349537" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <p>
                                    地址：台北市11568南港區經貿二路188號12樓<br />
                                    電話：(02)26526688<br />
                                    傳真：(02)2789-1538<br />
                                    email：cs@ctbcinvestments.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</div>