@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1 hidden>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <div id="slider">
                <div class="fullwidthbanner-container">
                    <div id="revolution-slider" class="table-bordered">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <p><span class="glyphicon glyphicon-heart"></span>活動名稱 ：</p>
            <p><span class="glyphicon glyphicon-heart"></span>活動日期 ：</p>
            <p><span class="glyphicon glyphicon-heart"></span>活動規則 ：</p>
        </div>
        <div class="col-md-12 form-group">
            <p><span class="color-danger">注意事項</span></p>
            <p><span class="color-danger">V中信投信保有對各項活動最終之解釋權，用戶凡參加中國信託舉辦之活動，即同意中信投信使用各項由個人所提供</span></p>
            <p><span class="color-danger">之資料(請檢閱<a><u>個人隱私權聲明</u></a> )。</span></p>
        </div>
    </div>
</div>
