@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container">
    <div class="row">
        <section class="content">
            <div class="container">
                <div class="cus-breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li><a href="~/Home/Index">首頁</a></li>
                        <li class="active">得獎記錄</li>
                    </ol>
                </div>
                <div class="page-header-wrapper">
                    <h3 class="title"><span>得獎記錄</span></h3>
                    <hr>
                    <div class="col-xs-12 col-sm-12">
                        <div class="table">
                            <table class="table award-table">
                                <thead>
                                    <tr>
                                        <th>得獎年份</th>
                                        <th>得獎基金</th>
                                        <th>獎項內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="3" class="text-center">2017</td>
                                        <td rowspan="2" class="text-center">中國信託台灣活力基金</td>
                                        <td>第20 屆「傑出基金金鑽獎」─國內股票型基金中小型股三年期</td>
                                    </tr>
                                    <tr>
                                        <td>2017「湯森路透理柏台灣基金獎」─台灣中小型股票三年期</td>
                                    </tr>
                                    <tr>
                                        <td  class="text-center">中國信託精穩基金</td>
                                        <td>第20 屆「傑出基金金鑽獎」─債券股票平衡型基金價值型股票三年期</td>
                                    </tr>
                                    <tr class="single">
                                        <td rowspan="3" class="text-center">2016</td>
                                        <td rowspan="2" class="text-center">中國信託台灣活力基金</td>
                                        <td>第19 屆「傑出基金金鑽獎」─國內股票型基金中小型股三年期</td>
                                    </tr>
                                    <tr class="single">
                                        <td>2016「湯森路透理柏台灣基金獎」─台灣中小型股票三年期</td>
                                    </tr>
                                    <tr class="single">
                                        <td class="text-center">中國信託精穩基金</td>
                                        <td>第19 屆「傑出基金金鑽獎」─債券股票平衡型基金價值型股票三年期</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2015</td>
                                        <td class="text-center">中國信託精穩基金</td>
                                        <td>第18 屆「傑出基金金鑽獎」─債券股票平衡型基金價值型股票三年期</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>獎項資料來源: 財團法人台北金融研究發展基金會，2017/03、2016/03、2015/03；湯森路透理柏，2017/03、2016/03</p>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>