@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container">
    <div class="row">
        <section class="content">
            <div class="container">
                <div class="cus-breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li><a href="~/Home/Index">首頁</a></li>
                        <li class="active">投資顧問</li>
                    </ol>
                </div>
                <div class="page-header-wrapper">
                    <h3 class="title"><span>投資顧問</span></h3>
                    <hr>
                </div>
                <div class="consultant-wrapper editor-area">
                    <h2 class="title-center">全球總體經濟與投資建議</h2>
                    <div class="row clearfix">
                        <div class="col-xs-12">
                            <h3 class="pages-title">近期重點事件</h3>
                            <ol>
                                <li>美國2017.03如同市場預期升息一碼，且多數官員對於升息的議題轉向鷹派，認為目前經濟足以支撐升息，沒有推遲升息的必要性。持續觀察未來升息的次數與速度</li>
                                <li>中國兩會召開，定調進入十三五計劃落實階段</li>
                                <li>
                                    未來一季重大事件
                                    <br>
                                    <ul>
                                        <li>(1) 法國總統選舉</li>
                                        <li>(2) 荷蘭選舉</li>
                                        <li>(3) 川普稅改政策推進狀況</li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                        <div class="col-xs-12">
                            <h3 class="pages-title">全球股市行情</h3>
                            <p>企業併購與新藥核准加持，激勵醫療類股表現。蘋果股價續創新高，帶動科技類股上攻。歐元走強不利出口疑慮，拖累歐股表現。</p>
                        </div>
                        <div class="col-xs-12"><img class="img-responsive" src="~/Content/images/consultant1.jpg"></div>
                        <div class="col-xs-12">
                            <h3 class="pages-title">全球債市行情</h3>
                            <p>歐美公債殖利率持續走低，各類債券價格普遍上揚，風險性資產表現較優。</p>
                        </div>
                        <div class="col-xs-12"><img class="img-responsive" src="~/Content/images/consultant2.jpg"></div>
                        <div class="col-xs-12">
                            <h3 class="pages-title">全球價市行情</h3>
                            <p>歐美公債持續走低各類債券價格普通上揚，風險性資產表現較優</p>
                        </div>
                        <div class="col-xs-12"><img class="img-responsive" src="~/Content/images/consultant3.jpg"></div>
                        <div class="col-xs-12">
                            <h3 class="pages-title">全球匯市行情</h3>
                            <p>歐元區景氣持續好轉，貨幣政策或將調整，歐元持續走強。美國第二季經濟成長上修，微幅刺激美元自今年低點回升，但走勢仍然趨弱。</p>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-xs-12">
                            <h2 class="title-center">中信投信建議的股債市配置與優質產品推薦</h2>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="pages-title">股優於債</h3>
                            <ol>
                                <li>2017年經濟成長速度加快，企業獲利成長，有利股市表現。</li>
                                <li>通膨上揚美國升息，債券吸引力相對降低。</li>
                            </ol>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="pages-title">資金流向新興市場</h3>
                            <ol>
                                <li>成熟市場增加支出經濟成長可望加速。</li>
                                <li>油價與商品價格表現不佳，以及美國縮表使得股市資金留向可能偏向成熟市場。但債券市場仍以新興市場較具吸引力。</li>
                            </ol>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="pages-title">風險性資產出脫</h3>
                            <ol>
                                <li>股市難免漲多震盪進行類股輪動，但回檔則是加碼好時機，目前維持偏多操作。</li>
                                <li>偏向歐洲與消費休閒產業。</li>
                            </ol>
                        </div>
                        <div class="col-xs-12">
                            <div class="table">
                                <table class="table table-striped common-table row4">
                                    <thead>
                                        <tr>
                                            <th colspan="1" rowspan="2">配置建議</th>
                                            <th colspan="2" rowspan="1">股票、平衡型基金</th>
                                            <th colspan="1" rowspan="2">債券(固定收益)</th>
                                        </tr>
                                        <tr>
                                            <th>市場</th>
                                            <th>產業</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>加碼配置</td>
                                            <td>新興亞洲</td>
                                            <td>
                                                金融
                                                <br> 醫療/生技
                                                <br> 房地產
                                                <br> 資訊科技
                                                <br> 工業
                                            </td>
                                            <td>
                                                美國高收益債
                                                <br> 歐洲高收益債
                                                <br> 新興市場債
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>推薦產品</td>
                                            <td><a href="">中國信託台灣活力基金</a></td>
                                            <td>
                                                <a href="">中國信託樂齡收益平衡基金</a>
                                                <br>
                                                <a href="">中國信託亞太多元入息基金</a>
                                                <br>
                                                <a href="">中國信託全球不動產收益證券投資信託基金</a>
                                            </td>
                                            <td>
                                                <a href="">中國信託全球短期高收益債券基金</a>
                                                <br>
                                                <a href="">英傑華投資-全球高收益債券基金</a>
                                                <br>
                                                <a href="">英傑華投資-新興市場債券基金</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="table">
                                <table class="table table-striped common-table row4">
                                    <thead>
                                        <tr>
                                            <th colspan="2">個性決定你適合的資產配置</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>問題</td>
                                            <td style="text-align: left;">好喜歡那個男孩/女孩喔! 要不要跟他/她告白?</td>
                                        </tr>
                                        <tr>
                                            <td>我的選擇</td>
                                            <td style="text-align: left;">
                                                <div><label class="radio-inline"><input id="option1" type="radio" name="option" value="a"> A. 他/她那麼優秀，我只是個魯蛇/剩女，還是算了</label></div>
                                                <div><label class="radio-inline"><input id="option2" type="radio" name="option" value="b"> B. 先從朋友做起，日久生情嘛</label></div>
                                                <div><label class="radio-inline"><input id="option3" type="radio" name="option" value="c"> C. 直接告白吧!   頂多被拒絕，機會可是不等人的</label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">資產配置建議</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="padding: 0;">
                                                <img class="img-responsive option-a" src="~/Content/images/chart1.jpg" style="display: none;">
                                                <img class="img-responsive option-b" src="~/Content/images/chart2.jpg" style="display: none;">
                                                <img class="img-responsive option-c" src="~/Content/images/chart3.jpg" style="display: none;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

