@model Jepun.Web.PS.Models.BasePageModel
@using Jepun.Web.PS.Comm
@{
}

@using (Html.BeginForm("", "Investors", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "FormInvestors" }))
{
    <div class="container">
        <div class="row">
            <section class="content">
                <div class="container">
                    <div class="cus-breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li><a href="~/Home/Index">首頁</a></li>
                            <li class="active">@Model.H1</li>
                        </ol>
                    </div>

                    <div class="page-header-wrapper">
                        <h3 class="title"><span>@Model.H1</span></h3>
                        <hr>
                    </div>
                    <div class="news-wrapper">
                        <div class="table">
                            <table name="Investors" class="table table-striped table-hover common-table">
                                <thead>
                                    <tr>
                                        <th>文件標題</th>
                                        <th>文件日期</th>
                                        <th>開啟文件</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.Raw(Model.Dictionary["Investors"])
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-wrapper">
                            <nav aria-label="Page navigation">

                                @*<ul class="pagination">
                                        <li class="disabled"><a class="prev-btn" href="#" aria-label="Previous"><span aria-hidden="true">« 上一頁</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a class="next-btn" href="#" aria-label="Next"><span aria-hidden="true">下一頁 »</span></a>
                                        </li>
                                    </ul>*@
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
<script src="~/Scripts/Apps/HomeInvestors.js?@ServiceHelper.CacheBusting()"></script>

