<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- configSections 要放第一個位置-->
  <configSections>
    <section
         name="Jepun"
         type="Jepun.Core.Common.JepunSection,Jepun.Core.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
         allowLocation="true"
         allowDefinition="Everywhere"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
    <!--<add name="MongoDB" connectionString="mongodb://127.0.0.1:27017" providerName="test"/>-->
    <add name="MongoDB" connectionString="gd3BwNza7E9Ue+0AkouTq1W6eV8Z1a58LffoxXE4Olg=" providerName="test"/>
  </connectionStrings>
  <Jepun CultureInfo="zh-tw" CustomerDllName="Jepun.Customer" AppInfo=""></Jepun>
</configuration>