<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽 
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="Jepun" type="Jepun.Core.Common.JepunSection,Jepun.Core.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
    <add key="Jepun.LDAP" value="200.168.23.1" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="40960" />
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
    <customErrors mode="On" defaultRedirect="~/Error" redirectMode="ResponseRewrite">
    </customErrors>
    <authentication mode="Forms">
      <forms name="JepunTicket" timeout="20" loginUrl="~/Account/Login/" defaultUrl="~/Home/Index/" cookieless="UseDeviceProfile" protection="All" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="false" domain="" path="/" />
    </authentication>
    <machineKey decryptionKey="7836A3C19D485D764B271551C09D40C4BC0C537F632CF930" validation="SHA1" validationKey="3657252C083F2DB444CACA838C98B5B295EB0269843AF35A487C56A153C84EA7B3E9788919AFBDD6841A7B447A7BF5B463E7195B04456EC5B8472428075E5490" />
  </system.web>
  <system.webServer>
    <modules>
      <!--由於在IIS 10 express 模式下 會有重複的 AuthenticationHttpModule 造成錯誤,所以先移除-->
      <remove name="AuthenticationHttpModule" />
      <add name="AuthenticationHttpModule" type="Jepun.Core.Web.HttpModules.AuthenticationHttpModule, Jepun.Core.Web" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpIPtoAP" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxConnections="130" maxReceivedMessageSize="2147483647">
          <!--<binding name="TcpIPtoAP" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="16777216" maxBufferSize="16777216" maxConnections="130" maxReceivedMessageSize="16777216">-->
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" clientCredentialType="Windows" />
          </security>
          <!--<security mode="None">
            <transport protectionLevel="EncryptAndSign" clientCredentialType="Windows"/>
          </security>-->
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="headersMapping">
          <!-- web 必須要有  -->
          <AttachAppTokenContextBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="AttachAppTokenContextBehavior" type="Jepun.Core.WCF.Behavior.AttachAppTokenContextBehavior, Jepun.Core.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint name="JepunServicesAP" address="net.tcp://localhost:997/HeartBeatService" binding="netTcpBinding" bindingConfiguration="TcpIPtoAP" behaviorConfiguration="" contract="Jepun.Services.AP.Contract.IHeartBeatService" />
      <endpoint name="PortalService" address="net.tcp://localhost:997/PortalService" binding="netTcpBinding" bindingConfiguration="TcpIPtoAP" behaviorConfiguration="headersMapping" contract="Jepun.Services.AP.Contract.IPortalService" />
    </client>
  </system.serviceModel>
  <Jepun AppInfo="WEB" CultureInfo="" Env="TEST" Watermark="false" CustomerDllName="Jepun.Customer">
  </Jepun>
</configuration>
