<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>sample for framework4.6.1&#xd;
記得GIT排除&#xd;
packages.&#xd;
bin&#xd;
obj</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>\\Test-pc\git\Jenkins</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>0 10 * * *
0 14 * * *
0 18 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>echo ***執行NuGet***&#xd;
&quot;D:\Jenkins\NuGet.exe&quot;  restore D:\Jenkins\workspace\NumberServiceUnitServer461\ClassLibCI\ClassLibCI.sln</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.29">
      <msBuildName>MS Build15.0</msBuildName>
      <msBuildFile>D:\Jenkins\workspace\NumberServiceUnitServer461\ClassLibCI\ClassLibCI\ClassLibCI.csproj</msBuildFile>
      <cmdLineArgs>/p:Configuration=Debug
/toolsversion:15.0
</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
      <doNotUseChcpCommand>false</doNotUseChcpCommand>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.29">
      <msBuildName>MS Build15.0</msBuildName>
      <msBuildFile>D:\Jenkins\workspace\NumberServiceUnitServer461\ClassLibCI\ClassLibTset\ClassLibTset.csproj</msBuildFile>
      <cmdLineArgs>/p:Configuration=Debug
/toolsversion:15.0</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
      <doNotUseChcpCommand>false</doNotUseChcpCommand>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>echo ***執行 vstest***&#xd;
dotnet vstest D:\Jenkins\workspace\NumberServiceUnitServer461\ClassLibCI\ClassLibTset\bin\Debug\ClassLibTset.dll /Framework:.NETFramework,Version=v4.6.1 /Logger:&quot;trx;LogFileName=D:\Jenkins\workspace\NumberServiceUnitServer461\TestResult.trx&quot; /EnableCodeCoverage</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>echo ***執行FxCop (沒有指定/rule，使用所有規則進行分析)***&#xd;
FxCopCmd /file:D:\Jenkins\workspace\NumberServiceUnitServer461\ClassLibCI\ClassLibCI\bin\Debug\ClassLibCI.dll /out:FxCopReport.xml&#xd;
rem FxCopCmd /file:D:\Jenkins\workspace\NumberServiceUnitServer461\ClassLibCI\ClassLibCI\bin\Debug\ClassLibCI.dll /rule:DesignRules.dll /out:FxCopReport.xml</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>echo ***執行SourceMonitor分析***&#xd;
SourceMonitor /C &quot;D:\Jenkins\tools\SourceMonitorCommand.xml&quot;&#xd;
&quot;D:\Jenkins\tools\msxsl.exe&quot; SourceMonitorReport.xml &quot;D:\Jenkins\tools\SourceMonitorSummaryGeneration.xsl&quot; -o SourceMonitorSummaryGeneration.xml&#xd;
&quot;D:\Jenkins\tools\msxsl.exe&quot; SourceMonitorSummaryGeneration.xml &quot;D:\Jenkins\tools\SourceMonitor.xsl&quot; -o SourceMonitorReport.html</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.15">
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>Source Monitor Report</reportName>
          <reportDir></reportDir>
          <reportFiles>SourceMonitorReport.html</reportFiles>
          <alwaysLinkToLastBuild>false</alwaysLinkToLastBuild>
          <reportTitles></reportTitles>
          <keepAll>true</keepAll>
          <allowMissing>false</allowMissing>
          <includes>**/*</includes>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
    <hudson.plugins.mstest.MSTestPublisher plugin="mstest@0.23">
      <testResultsFile>TestResult.trx</testResultsFile>
      <failOnError>true</failOnError>
      <keepLongStdio>false</keepLongStdio>
      <buildTime>0</buildTime>
    </hudson.plugins.mstest.MSTestPublisher>
    <hudson.plugins.violations.ViolationsPublisher plugin="violations@0.7.11">
      <config>
        <suppressions class="sorted-set"/>
        <typeConfigs>
          <entry>
            <string>checkstyle</string>
            <hudson.plugins.violations.TypeConfig>
              <type>checkstyle</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>codenarc</string>
            <hudson.plugins.violations.TypeConfig>
              <type>codenarc</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>cpd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>cpd</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>cpplint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>cpplint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>csslint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>csslint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>findbugs</string>
            <hudson.plugins.violations.TypeConfig>
              <type>findbugs</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>fxcop</string>
            <hudson.plugins.violations.TypeConfig>
              <type>fxcop</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern>FxCopReport.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>gendarme</string>
            <hudson.plugins.violations.TypeConfig>
              <type>gendarme</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>jcreport</string>
            <hudson.plugins.violations.TypeConfig>
              <type>jcreport</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>jslint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>jslint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pep8</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pep8</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>perlcritic</string>
            <hudson.plugins.violations.TypeConfig>
              <type>perlcritic</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pmd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pmd</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pylint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pylint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>simian</string>
            <hudson.plugins.violations.TypeConfig>
              <type>simian</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>stylecop</string>
            <hudson.plugins.violations.TypeConfig>
              <type>stylecop</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern>StyleCopViolations.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
        </typeConfigs>
        <limit>100</limit>
        <sourcePathPattern></sourcePathPattern>
        <fauxProjectPath></fauxProjectPath>
        <encoding>default</encoding>
      </config>
    </hudson.plugins.violations.ViolationsPublisher>
  </publishers>
  <buildWrappers/>
</project>