@model Jepun.Web.PS.Models.BasePageModel
@{

}
<div class="container inner">
    <div class="row">
        <div class="col-md-8 form-group">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="col-md-6">文章標題</td>
                        <td class="col-md-6">主題V</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Dictionary["A"]</td>
                        <td>@Model.Dictionary["B"]</td>
                    </tr>
                    <tr>
                        <td>BBBBBBBB</td>
                        <td>多元資產</td>
                    </tr>
                    <tr>
                        <td>AAAAAAAA</td>
                        <td>美國</td>
                    </tr>
                    <tr>
                        <td>BBBBBBBB</td>
                        <td>固定收益</td>
                    </tr>
                    <tr>
                        <td>AAAAAAAA</td>
                        <td>多元資產</td>
                    </tr>
                    <tr>
                        <td>BBBBBBBB</td>
                        <td>美國</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination col-md-12 form-g">
            <div class="pagination-style1 text-center">
                <span class="active">1</span>
                <span>2</span>
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
