@model Jepun.Web.PS.Models.BasePageModel
@using Jepun.Web.PS.Comm
@{
}
@using (Html.BeginForm("", "FeeRateTable", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "FormFeeRateTable" }))
{
    <div class="container">
        <div class="row">
            <section class="content">
                <div class="container">
                    <div class="cus-breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li><a href="~/Home/Index">首頁</a></li>
                            <li class="active">@Model.H1</li>
                        </ol>
                    </div>
                    <!--<div>
        <canvas name="test"></canvas>
    </div>-->
                    <div class="page-header-wrapper">
                        <h3 class="title"><span>@Model.H1</span></h3>
                        <hr>
                    </div>
                    <div class="funds-area">
                        <div class="col-xs-12">
                            @*<h3 class="pages-title">@Model.H1</h3>*@
                            <p>
                                申購本公司發行之基金，請參考以下申購手續費率表<br />
                                若您是本公司電子交易戶，可透過線上交易平台<a target="_blank" href="https://etrade.ctbcinvestments.com.tw/CTBC.EC/">https://etrade.ctbcinvestments.com.tw/CTBC.EC/</a>申購，手續費較優惠喔!
                            </p>
                            <div class="col-xs-12 col-sm-4"> <select class="form-control" name="TradeType"></select></div>
                            <div class="col-xs-12 col-sm-4"> <select class="form-control" name="FundType"></select></div>
                            <div class="col-xs-12">
                                <hr />
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="table">
                                <table name="FeeRateTable" class="table table-striped table-hover common-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                交易方式
                                            </th>
                                            <th>
                                                基金類型
                                            </th>
                                            <th>
                                                基金名稱
                                            </th>
                                            <th>
                                                單筆申購手續費
                                            </th>
                                            <th>
                                                定期定額申購手續費
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*@Html.Raw(Model.Dictionary["News"])*@
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-wrapper">
                                <nav aria-label="Page navigation">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
<script src="~/Scripts/Apps/HomeFeeRateTable.js?@ServiceHelper.CacheBusting()"></script>
