@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container">
    <div class="row">
        <section class="content">
            <div class="container">
                <div class="cus-breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li><a href="~/Home/Index">首頁</a></li>
                        <li class="active">金融友善服務專區</li>
                    </ol>
                </div>

                <div class="page-header-wrapper">
                    <h3 class="title"><span>金融友善服務專區</span></h3>
                    <hr />
                    <div class="editor-area Friendliness">
                        <div class="col-xs-12 col-sm-12">
                            <h3 class="pages-title">金融友善服務專區</h3>
                            <p>為提供身心障礙者各項友善金融服務，本公司營業場所之大樓設有無障礙設施外，將依身心障礙者之個別需求提供適當之友善服務措施與協助，協助身心障礙者採用合適之交易方式，整理下方各種申辦業務管道及相關措施供客戶參考，歡迎多加利用。</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 ">
                            <h3 class="pages-title">營業處所無障礙設施</h3>

                            <div class="col-xs-12 col-sm-4">
                                <ul>
                                    <li>
                                        無障礙電梯：
                                        <ol>
                                            <li>
                                                盲人點字樓層及按鈕指示
                                            </li>
                                            <li>
                                                梯內扶手
                                            </li>
                                            <li>
                                                梯內外無障礙按鈕
                                            </li>
                                            <li>
                                                梯內語音播放設備
                                            </li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <ul>
                                    <li>
                                        無障礙廁所：
                                        <ol>
                                            <li>
                                                按壓式開關門
                                            </li>
                                            <li>
                                                感應式洗手台
                                            </li>
                                            <li>
                                                感應式沖水設備
                                            </li>
                                            <li>
                                                室內扶手設備
                                            </li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <ul>
                                    <li>
                                        其他無障礙設施：
                                        <ol>
                                            <li>
                                                外圍無障礙坡道
                                            </li>
                                            <li>
                                                無障礙停車格(地下停車場3樓)
                                            </li>

                                        </ol>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-12 ">

                            <h3 class="pages-title">交易服務</h3>
                            <ol>
                                <li>專人服務：請於周一~周五，9:00-17:00，不含國定假日，撥打02-26526699，將有專人為您服務</li>
                                <li>線上交易：本公司電子交易客戶，可透過線上交易平台申購基金。申購網址：<a target="_blank" href="https://etrade.ctbcinvestments.com.tw/">https://etrade.ctbcinvestments.com.tw/</a></li>
                                <li>線上預約開戶：申辦本公司電子交易客戶，可直接於線上交易平台下單，省去匯款、傳真之不便。開戶網址：<a target="_blank" href="https://etrade.ctbcinvestments.com.tw/CTBC.EC/?action=accopen">https://etrade.ctbcinvestments.com.tw/CTBC.EC/?action=accopen</a></li>
                                <li>客服信箱：若您於專人服務時間以外有需求，請先來信<a href="mailto:cs@ctbcinvestments.com">cs@ctbcinvestments.com</a></li>
                            </ol>
                        </div>
                        <div class="col-xs-12 col-sm-12 ">
                            <p>
                                點選查看<a target="_blank" href="http://www.sitca.org.tw/ROC/UserFriendly/main.aspx">中華民國證券投資信託暨顧問商業同業公會證券投資信託事業證券投資顧問事業金融友善服務準則條文及說明詳細條文</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


