@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container inner">
    <div class="row">
        <div class="col-md-12 form-group">
            <h1>@Model.H1</h1>
        </div>
        <div class="col-md-12 form-group">
            <p>開戶</p>
        </div>
        <div class="col-sm-6 form-group">
            <div id="slider">
                <div class="fullwidthbanner-container">
                    <div id="revolution-slider" class="table-bordered">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                    <tr>
                        <th>基金類型</th>
                    </tr>
                    <tr>
                        <th>經理人</th>
                    </tr>
                    <tr>
                        <th>基金類型</th>
                    </tr>
                    <tr>
                        <th>經理人</th>
                    </tr>
                    <tr>
                        <th>基金類型</th>
                    </tr>
                    <tr>
                        <th>經理人</th>
                    </tr>
                    <tr>
                        <th>基金類型</th>
                    </tr>
                    <tr>
                        <th>經理人</th>
                    </tr>
                    <tr>
                        <th>基金類型</th>
                    </tr>
                    <tr>
                        <th>經理人</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>