@model Jepun.Web.PS.Models.BasePageModel
@{
}
<div class="container">
    <div class="row">
        <section class="content">
            <div class="container">
                <div class="cus-breadcrumb-wrapper">
                    <ol class="breadcrumb cus-breadcrumb">
                        <li><a href="~/Home/Index">首頁</a></li>
                        <li class="active">申購流程</li>
                    </ol>
                </div>
                <div class="page-header-wrapper">
                    <h3 class="title"><span>申購流程</span></h3>
                    <hr>
                    <ul class="nav nav-tabs" role="tablist" id="cus-tabs">
                        <li class="active" role="presentation"><a aria-controls="type1" data-toggle="tab" href="#type1" role="tab">開戶</a></li>
                        <li class="" role="presentation"><a aria-controls="type2" data-toggle="tab" href="#type2" role="tab">電子交易戶</a></li>
                        <li class="" role="presentation"><a aria-controls="type3" data-toggle="tab" href="#type3" role="tab">線上交易</a></li>
                        <li class="" role="presentation"><a aria-controls="type4" data-toggle="tab" href="#type4" role="tab">非線上交易</a></li>
                    </ul>
                </div>
                <div class="etf-step-wrapper">
                    <div role="tabpanel">
                        <div role="tabpanel">
                            <div class="tab-content editor-area">
                                <div class="tab-pane fade in active" id="type1" role="tabpanel">
                                    <ul class="nav nav-tabs sub-tabs" role="tablist">
                                        <li class="active" role="presentation"><a aria-controls="sub-type1-1" data-toggle="tab" href="#sub-type1-1" role="tab">定期定額</a></li>
                                        <li class="" role="presentation"><a aria-controls="sub-type1-2" href="#sub-type1-2" role="tab" data-toggle="tab">單筆申購</a></li>
                                        <li class="" role="presentation"><a aria-controls="sub-type1-3" href="#sub-type1-3" role="tab" data-toggle="tab">買回轉申購</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="sub-type1-1" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sub-type1-2" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sub-type1-3" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="type2" role="tabpanel">
                                    <ul class="nav nav-tabs sub-tabs" role="tablist">
                                        <li class="active" role="presentation"><a aria-controls="sub-type2-1" data-toggle="tab" href="#sub-type2-1" role="tab">定期定額</a></li>
                                        <li class="" role="presentation"><a aria-controls="sub-type2-2" href="#sub-type2-2" role="tab" data-toggle="tab">單筆申購</a></li>
                                        <li class="" role="presentation"><a aria-controls="sub-type2-3" href="#sub-type2-3" role="tab" data-toggle="tab">買回轉申購</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="sub-type2-1" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sub-type2-2" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sub-type2-3" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="type3" role="tabpanel">
                                    <ul class="nav nav-tabs sub-tabs" role="tablist">
                                        <li class="active" role="presentation"><a aria-controls="sub-type3-1" data-toggle="tab" href="#sub-type3-1" role="tab">定期定額</a></li>
                                        <li class="" role="presentation"><a aria-controls="sub-type3-2" href="#sub-type3-2" role="tab" data-toggle="tab">單筆申購</a></li>
                                        <li class="" role="presentation"><a aria-controls="sub-type3-3" href="#sub-type3-3" role="tab" data-toggle="tab">買回轉申購</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="sub-type3-1" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sub-type3-2" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sub-type3-3" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="type4" role="tabpanel">
                                    <ul class="nav nav-tabs sub-tabs" role="tablist">
                                        <li class="active" role="presentation"><a aria-controls="sub-type4-1" data-toggle="tab" href="#sub-type4-1" role="tab">定期定額</a></li>
                                        <li class="" role="presentation"><a aria-controls="sub-type4-2" href="#sub-type4-2" role="tab" data-toggle="tab">單筆申購</a></li>
                                        <li class="" role="presentation"><a aria-controls="sub-type4-3" href="#sub-type4-3" role="tab" data-toggle="tab">買回轉申購</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="sub-type4-1" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sub-type4-2" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sub-type4-3" role="tabpanel">
                                            <div class="step-wrapper">
                                                <h3 class="pages-title">Step 1</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step1.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>定期定額登入帳號</h3>
                                                        <p>比較第一章全國共有到處基礎完全眼光及，大陸試驗合理不敢原因團結快速令人未來接口資本竟然登記，博士節目衝擊笑話殺手氣氛評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 2</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step2.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>單筆申購</h3>
                                                        <p>我看互動畢業生中文一番，操作系統害怕把他簡體推，化工緊緊角度女士認為，很快小孩收藏並且出現以後，人數並在利潤緊張她說指揮加快良好呵呵現有作品教材社區根據優，調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商，心情室內某個遠遠測試。評。</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 3</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step3.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>相關規範</h3>
                                                        <p>調查交給支付調整經典說出為何雙手我真色，一步支付一點人數建立供應商</p>
                                                    </div>
                                                    <div class="step-arrow col-xs-12">
                                                        <img src="~/Content/images/arrow-down.png" alt="">
                                                    </div>
                                                </div>
                                                <h3 class="pages-title">Step 4</h3>
                                                <div class="row clearfix">
                                                    <div class="col-xs-12 col-sm-6"><img class="img-responsive" src="~/Content/images/step4.png"></div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <h3>確定單筆申購</h3>
                                                        <p>一步支付一點人數建立供應商，心情室內某個遠遠測試</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>